html, body {
  text-transform: uppercase;
  cursor: url('/images/default.png'), auto; /* Custom cursor */
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;
  font-size: 22px;
  font-family: 'CustomFont', fallback-fonts;
}

@font-face {
  font-family: 'CustomFont';
  src: url('DK-Lemon-Yellow-Sun.woff') format('woff');
}

div {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.socials {
  background-color: lightblue;
  display: flex;
  justify-content: space-evenly;
  position: fixed; /* Keeps the buttons fixed in the viewport */
  left: 50%; /* Adjust as needed */
  top: 10%; /* Adjust as needed */
  transform: translateX(-50%); /* Centers the buttons horizontally */
  z-index: 2; /* Ensures buttons are above other content */
}

/* Ensure the z-index of other elements is lower than the buttons */
.main-content, .background-video, .blur-overlay {
  z-index: 1;
}


.name {
    width: 1800px;
    display: justify;
    justify-content: space evenly;
    height: 50vh; /* Adjust as needed */
    text-align: left;
    max-width: 90%; /* Or a suitable percentage */
    margin: auto; /* Centers the container */
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-video, .blur-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* behind content */
}

.blur-overlay {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.01);
}

.main-content {
    position: relative;
    z-index: 1; /* Above the overlay */
}

h1{


}

h2 {
  text-align: left;
  font-size: 3vw; /* Adjust as needed */
  background-color: black; /* Your desired background color */
  padding: 5px; /* Adjust padding as needed */
  display: inline-block; /* Makes the background wrap around the text */
  margin-bottom: 10px; /* Adds space between each line */
  color: white; /* Text color */
  /* Add any other desired styling */
}

