:root{
    --clr-neon: hsl(304 91% 57%);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgb(4,2,53);
  background: linear-gradient(176deg, rgba(4,2,53,1) 7%, rgba(5,3,65,1) 12%, rgba(6,5,85,1) 20%, rgba(7,6,92,1) 23%, rgba(9,9,121,1) 35%, rgba(9,18,127,1) 38%, rgba(8,34,137,1) 43%, rgba(7,53,150,1) 49%, rgba(7,65,158,1) 53%, rgba(5,106,185,1) 66%, rgba(4,122,195,1) 71%, rgba(4,134,203,1) 75%, rgba(3,153,216,1) 81%, rgba(2,165,224,1) 85%, rgba(1,178,232,1) 89%, rgba(1,184,236,1) 91%, rgba(1,193,242,1) 94%, rgba(0,212,255,1) 100%);
  background-attachment: fixed;
  background-size: cover;
  text-transform: uppercase;
  color: white;
  font-size: 1em;
  font-family: 'DM Sans', sans-serif;
}

/* Styles for tablets */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* slightly smaller font-size for tablets */
    }
    /* Other responsive styles for tablets */
}

/* Styles for mobile devices */
@media (max-width: 480px) {
    body {
        font-size: 12px; /* even smaller font-size for mobile */
    }
    .neon-button {
        padding: 10px; /* smaller padding for buttons */
        font-size: 1rem; /* smaller font-size for buttons */
    }
    /* Other responsive styles for mobile */
}

@font-face {
  font-family: 'DM Sans';
}

.header {
    display: flex;
    justify-content: center;
    align-items: center; /* Add this to vertically align the content */
    position: fixed; /* Fixed position to keep it at the top */
    top: 0;
    left: 0;
    width: 100%;
     /* Match the body's background */
    z-index: 10; /* Above other content */
    padding: 5rem 0rem; /* Adjust padding to your preference */
    background-color: rgb(4,2,53);
}

.socials {
  display: flex;
  justify-content: center; /* This will center the buttons within the .socials container */
  position: fixed;
  top: 3%;
  left: 47%;
  transform: translateX(-50%);
}

.neon-button {
  width: 300px; /* Fixed width */
  height: 35px; /* Fixed height */
  margin: 0 1em;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  cursor: pointer;
  font-size: 2rem; /* Text size */
  display: inline-block;
  color: var(--clr-neon);
  background-color: black;
  justify-content: center;
  position: relative; /* Keeps the buttons fixed in the viewport */
  left: 20%; /* Adjust as needed */
  top: 10%; /* Adjust as needed */
  transform: translateX(-50%); /* Centers the buttons horizontally */
  z-index: 2; /* Ensures buttons are above other content */
  border-radius: .25em; /* Rounded corners */
  text-decoration: none;
  border: var(--clr-neon) 0.125em solid;
  padding: .25em 1.5em;
  text-shadow: 0 0 0.5em hsl(0 0% 100% / 0.5), 0 0 0.45em var(--clr-neon);
  box-shadow: inset 0 0 0.345em var(--clr-neon), 0 0 0.345em var(--clr-neon);
  isolation: isolate;
}

.neon-button::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(0.9em) rotateX(10deg) scale(1, 0.3);
    filter: blur(1em);
    opacity: 0.7;
}

.neon-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    scale: 0 1;
    transition: scale 1s ease-in-out;
    z-index: -1;
    inset: 0;
}

.neon-button:hover::before,
.neon-button:focus {
    opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus {
    opacity: 1;
    scale: 1 1;
}


@keyframes pulsate-glow {
  0%, 100% {
    box-shadow: 0 0 10px var(--clr-neon), 0 0 20px var(--clr-neon);
  }
  10%, 90% {
    box-shadow: 0 0 15px var(--clr-neon), 0 0 30px var(--clr-neon);
  }
  20%, 80% {
    box-shadow: 0 0 20px var(--clr-neon), 0 0 40px var(--clr-neon);
  }
  30%, 70% {
    box-shadow: 0 0 25px var(--clr-neon), 0 0 50px var(--clr-neon);
  }
  40%, 60% {
    box-shadow: 0 0 30px var(--clr-neon), 0 0 60px var(--clr-neon);
  }
  50% {
    box-shadow: 0 0 35px var(--clr-neon), 0 0 70px var(--clr-neon);
  }
}


.neon-button:hover,
.neon-button:focus {
    background: var(--clr-neon);
    color: black;
    text-shadow: none;
    animation: pulsate-glow 2s ease-in-out infinite;
    animation-delay: 800ms; /* This will delay the start of the pulsating glow */

}

/* Ensure the z-index of other elements is lower than the buttons */
.main-content, .background-video, .blur-overlay {
  z-index: 1;
}


.name {

}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-video, .blur-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0; /* behind content */
}

.blur-overlay {
    position: fixed;
    top: 100px; /* Distance from the top of the viewport */
    left: 0px; /* Distance from the left side of the viewport */
    width: 1.5em; /* Or any other fixed width */
    height: 3000px; /* Or any other fixed height */
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.01);
}

.main-content {
    position: absolute;
    top: 20%; /* Distance from the top of the viewport */
    left: -25px;
    width: 2000px;
    z-index: 1; /* Above the overlay */

}

h1{


}

h2 {
  text-align: left;
  font-size: 4vw; /* Adjust as needed */
  background-color: black; /* Your desired background color */
  padding: 25px; /* Adjust padding as needed */
  display: block; /* Makes the background wrap around the text */
  margin-bottom: 10px; /* Adds space between each line */
  color: white; /* Text color */
  /* Add any other desired styling */
}

.text-block {
  text-shadow:
    0 0 2px rgba(128, 128, 128, 0.5), /* gray with 50% opacity */
    7px 3px 2px rgba(20, 86, 89, 1), /* blue with 70% opacity */
    -7px -3px 2px rgba(255, 0, 0, 0.4), /* red with 40% opacity */
    0 -1px 0 rgba(255, 255, 255, 0.8); /* white with 80% opacity */
  left: 20%;
  top: 30%;
  width: fit-content; /* This makes the width of the element fit its content */
  position: relative;
  font-size: 3vw; /* Adjust as needed */
  text-align: left;
  background-color: black;
  color: white;
  padding: 10px 100px; /* Add padding inside each text block */
  margin-bottom: 15px; /* Adds space between blocks */
  display: inline-block; /* Each div is already a block-level element */
  /* Additional styling */
}

.contact {
    color: black;
    position: fixed;
    top: 50%;
    left: 50%; /*size of screen*/
    transform: translate(-50%, -50%) scale(0); /*size of container*/
    transition: 400ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.contact.active {
    transform: translate(-50%, -50%) scale(1); /*size of container*/
}

.contact-header {

    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom 1px solid black;
}

.contact-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.contact-header .close-button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.contact-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 400ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

#canvas {
  display: block; /* Removes the margin around the canvas */
  position: fixed; /* Fixes the canvas in place */
  top: 0;
  left: 0;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  z-index: 1; /* Positions the canvas behind your content */
}